/*This is a comment */

p {
  color: darkgreen;
}

#title {
  height: 25%;
  font-family: 'Indie Flower', serif;
  text-align: center;
}

#footer {
  height: 50px;
  border: 3px blue;
  border-style: solid none;
  font-family: 'Indie Flower', serif;
  text-align: center;
}

#left_div {
  width: 25%;
  float: left;
  border: 2px blue;
  border-style: none solid none none;
}

#right_div {
  width: 75%;
}

#main_content {
  overflow: auto;
}

nav {
  height: 50px;
  border: 3px blue;
  border-style: solid none;
  font-family: 'Indie Flower', serif;
  text-align: center;
}

body, html {
  height: 100%;
  width: 100%;
  background: #e8ffe9;
  color: darkblue;
  font-size: medium;
}